<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nuevo-entrenamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">nuevo-entrenamiento</ion-title>
    </ion-toolbar>
  </ion-header>

  <mat-card>
  <mat-card-title>Nuevo Entrenamiento</mat-card-title>
  <form [formGroup]="entrenamientoForm">
    <mat-form-field appearance="fill">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Rutina</mat-label>
      <input matInput formControlName="rutina">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Notas</mat-label>
      <textarea matInput formControlName="notas"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="continuar()">
      Continuar
    </button>
  </form>
</mat-card>

</ion-content>
