
<ion-content [fullscreen]="true" color="mytheme">
  <ion-header [translucent]="true">
    
    <ion-toolbar>
      <ion-title>Nuevo Entrenamiento</ion-title>
      <ion-button slot="start" color="mytheme">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-header collapse="condense">
    <ion-toolbar color="mytheme">
      <ion-title size="large">Nuevo Entrenamiento</ion-title>
    </ion-toolbar>
  </ion-header>

  
<div class="lottie-wrapper">
      <lottie-player class="lottie-player" 
      src="../../../assets/animations/gym.json"
      background="transparent"
      speed="1"
      time="1"
      loop autoplay
      >
    </lottie-player>
  </div>


  <mat-card class="ion-padding ion-margin">

  <mat-card-header>
    <mat-card-title class="ion-padding">Registrar</mat-card-title>
    <mat-card-subtitle class="ion-padding">Crea nueva rutina para comenzar a registrar tus ejercicios entrenados.</mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="entrenamientoForm">
    <mat-form-field appearance="fill">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Rutina</mat-label>
      <input matInput formControlName="rutina">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Notas</mat-label>
      <textarea matInput formControlName="notas"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="continuar()">
      Continuar
    </button>
  </form>
</mat-card>

</ion-content>
